<div class="eight columns offset-by-two">
	<h2> Log in </h2>
		<%= simple_form_for :session, url: session_path do |f| %>

	 		<%= f.input :username %>
	 		<%= f.input :password %>

	 		<%= f.button :submit, "Log in" %>

		<% end %>
</div>

<div class="six columns offset-by-three mid social">
	<span>Log in with...</span>
	<%= link_to "Facebook", "/auth/facebook", class: "button" %>
	<%= link_to "Twitter", "/auth/twitter", class: "button" %>
	<%= link_to "LinkedIn", "/auth/linkedin", class: "button" %>
</div>
