<div class="eight columns offset-by-two">

<h2>Sign Up</h2>
	
	<%= simple_form_for @user do |f| %>
	 	<%= f.input :name %>
	 	<%= f.input :username %>
	 	<%= f.input :email %>
	 	<%= f.input :password %>
	 	<%= f.input :password_confirmation, label: "Confirm password" %>

	 	<%= f.button :submit %>	 		 		 	

<% end %>
</div>

<div class="six columns offset-by-three mid social">
	<span>Sign up with...</span>
	<%= link_to "Facebook", "/auth/facebook", class: "button" %>
	<%= link_to "Twitter", "/auth/twitter", class: "button" %>
	<%= link_to "LinkedIn", "/auth/linkedin", class: "button" %>
</div>
